MDF.Utils.Logger/bin/
MDF.Utils.Logger/obj/
MDF.Utils.System/bin/
MDF.Utils.System/obj/
MDF.Utils/bin/
MDF.Utils/obj/

/.idea/.idea.MDF.Utils/.idea/indexLayout.xml
/.idea/.idea.MDF.Utils/.idea/vcs.xml
/.vs/MDF.Utils/DesignTimeBuild/.dtbcache.v2
/.vs/MDF.Utils/v17/.futdcache.v1
/.vs/MDF.Utils/v17/.suo
